*{
    margin: 0;
    padding: 0;
}
.menu-bar, .menu-option, .two-icon{
    display: none;
    
    /* position: absolute; */
}
.menu-option > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    margin: 3px 6px;
    background-color: rgb(255, 153, 0);
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 120px;
}
nav > .right{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
/* header */
.header-container{
    display: flex;
    /* position: absolute; */
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;

}
.header-container h1{
    font-size: 52px;
    line-height: 70px;
    margin-bottom: 16px;
}
.header-container p{
    font-size: 16px;
    line-height: 24px;
    /* margin-bottom: 16px; */

}
.header-description > button{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    color: aliceblue;
    border: none;
    margin-bottom: 16px;

}
.header-img {
    background-image: linear-gradient(rgba(255, 0, 0, 0.23),rgba(0, 0, 0, 0.225)),url(images/Circle\ design.svg);
    height: 37%;
    width: 31%;
    border-radius: 100%;
    padding: 15px;
}
.company{
    text-align: center;
}
.company > img{
    margin: 35px;
}
@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
        background-color: rgb(168, 197, 110);
    }
    nav {
        margin: 35px 40px;
    }
    .menu-bar,  .two-icon{
        display: flex;
        gap: 5px;

    }
    nav > .right{
        display: none;
    }
    .menu-bar > ul{
        display: none;
    }
    .menu-bar:hover .menu-option{
        display: block;
        margin-top: 20px;
        /* text-decoration: none; */
    }
    .header-container {
        text-align: center;
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }
    .header-description > button {
        margin: 15px;
    }
    .header-container h1 {
        font-size: 40px;
        line-height: 67px;
        margin-bottom: 13px;
    }
    .company > img{
        margin: 20px 10px;
    }
    
}